.item-container {
  display: flex;
  flex: 1;
  align-items: flex-start;
  padding: 20px 0;
  position: relative;
  width: 100%;
}
.item-avatar {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  object-fit: cover;
}
.content-container {
  // display: flex;
  // flex: 1;
}
.info-wrapper {
  // display: flex;
  margin-left: 10px;
  width: 720px;
}
.user-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.user-box {
  display: flex;
}
.user-name {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.info-cap {
  margin-top: 4px;
  margin-left: 10px;
  font-size: 1.2rem;
  text-align: center;
}
.follow-btn {
  background-color: rgb(255, 255, 255);
  color: rgb(219, 52, 52);
  font-size: 1.6rem;
  font-weight: 700;
  border: 0.5px solid red;
  padding: 5px 15px;
  border-radius: 5px;
  margin-right: 10px;
}
.video-container {
}
.video-wrapper {
  position: relative;
  margin-left: 10px;
}
.video-item {
  height: 502px;
  // width: 720px;
  position: relative;
  object-fit: cover;
}
.play-btn {
  color: rgb(255, 255, 255);
  font-size: 20px;
  background-color: transparent;
  position: absolute;
  bottom: 25px;
  left: 25px;
  padding: 3px 3px;
  &:hover {
    color: rgb(255, 255, 255);
  }
}
.isPlaying {
  color: transparent;
}
.analysis {
  margin: 5px 20px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  .heart-icon {
    margin-left: 10px;
    color: red;
  }
  .comment-icon {
    color: rgb(39, 92, 206);
    margin-right: 10px;
  }
}
.nav {
  display: flex;
  width: 720px;
  flex-direction: row !important;
  justify-content: space-between;
  margin-left: 10px;
  transition: floor($number: 0);
  border-top: 0.5px solid rgb(161, 161, 161);
  border-bottom: 0.5px solid rgb(161, 161, 161);
  .like {
    color: red;
    &:hover {
      color: red;
    }
  }
}
.nav-btn {
  padding: 10px;
  width: 100%;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2px;
  color: rgb(129, 129, 129);
  transform: translate();

  &:hover {
    background-color: rgba(238, 238, 238, 0.596);
    color: rgba(0, 0, 0, 0.774);
  }
}
.cmtShow {
  color: #000;
}
.nav-btn + .nav-btn {
  margin-left: 2px;
}
//comment
.comments-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px !important;
  margin: 5px;
  width: 720px;
  // height: 500px;
  // margin-left: 50px;
  // background-color: rgba(168, 211, 211, 0.534);
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cmt-user-avatar {
  margin-top: 20px;
  margin-left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: fill;
}
.cmt-user-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
}
.cmt-user {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}
.cmt-content {
  margin-right: 40px;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.815);
}
.comment-box {
  display: flex;
  flex-direction: column;
}
.comments-input {
  // flex: 1;
  // margin: 0 60px;
  font-family: "Times New Roman", Times, serif;
  padding: 0px 0px;
  font-size: 1.8rem;
  border: none;
  border-color: rgba(204, 205, 206, 0.103);
  &:hover {
    cursor: pointer;
  }
  &:focus {
    border: none;
    outline-color: rgb(145, 168, 168) !important;
    outline-width: 0.1px;
  }
  &:active {
  }
}
.avt-input {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  textarea {
    margin-left: 10px;
    margin-right: 20px;
    text-align: start;
    background-color: rgba(207, 205, 205, 0.226);
    border-radius: 10px;
    flex: 1;
  }
}
.cmt-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
}
.comment-nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 80px 0px 80px;
}
.btn {
  font-size: 1.3rem;
  padding: 5px 10px;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}
.comment-btn {
  &:hover {
    color: green;
  }
  &:active {
    color: #000;
  }
}
.cancel-btn {
  &:hover {
    color: red;
  }
  &:active {
    color: #000;
  }
}
// .btn + .btn {
//   margin-left: 10px;
// }
