.home-page {
  display: flex;
  position: relative;
}
.home-bar {
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  height: auto;
  position: fixed;
  width: 348px;
  z-index: 1;
  height: 960px;
}
.home-content {
  // margin-right: 16px;
  // margin-left: 16px;
  max-width: 800px;
  padding: 10px 0;
  position: relative;
  left: 356px;
  height: 2000px;
  // display: flex;
  h4 {
    margin-top: 10px;
    margin-left: 20px;
  }
}

//video item css
.item-container {
  display: flex;
  flex: 1;
  align-items: flex-start;
  padding: 20px 0;
  position: relative;
  width: 100%;
}
.item-avatar {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  object-fit: cover;
}
.content-container {
  // display: flex;
  // flex: 1;
}
.info-wrapper {
  // display: flex;
  margin-left: 10px;
  width: 720px;
}
.user-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.user-box {
  display: flex;
}
.user-name {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.info-cap {
  margin-top: 4px;
  margin-left: 10px;
  font-size: 1.2rem;
  text-align: center;
}
.follow-btn {
  background-color: rgb(255, 255, 255);
  color: rgb(219, 52, 52);
  font-size: 1.6rem;
  font-weight: 700;
  border: 0.5px solid red;
  padding: 5px 15px;
  border-radius: 5px;
}
.video-container {
}
.video-wrapper {
  position: relative;
  margin-left: 10px;
}
.video-item {
  height: 502px;
  width: 720px;
  position: relative;
  object-fit: cover;
}
.play-btn {
  color: rgb(255, 255, 255);
  font-size: 20px;
  background-color: transparent;
  position: absolute;
  bottom: 5%;
  left: 5%;
}
.analysis {
  margin: 5px 20px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  .heart-icon {
    margin-left: 10px;
    color: red;
  }
  .comment-icon {
    color: rgb(39, 92, 206);
    margin-right: 10px;
  }
}
.nav {
  display: flex;
  width: 720px;
  justify-content: space-between;
  margin-left: 10px;
  border-top: 0.5px solid rgb(161, 161, 161);
  border-bottom: 0.5px solid rgb(161, 161, 161);
  .like {
    color: red;
    &:hover {
      color: red;
    }
  }
}
.nav-btn {
  padding: 10px;
  width: 100%;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2px;
  color: rgb(129, 129, 129);
  transform: translate();

  &:hover {
    background-color: rgba(238, 238, 238, 0.596);
    color: rgba(0, 0, 0, 0.774);
  }
}
.cmtShow {
  color: #000;
}
.nav-btn + .nav-btn {
  margin-left: 2px;
}
//comment
.comment-container {
  display: flex;
  margin: 5px;
  width: 720px;
  // height: 500px;
  // margin-left: 50px;
  // background-color: rgba(168, 211, 211, 0.534);
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cmt-user-avatar {
  margin-top: 20px;
  margin-left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: fill;
}
.cmt-user-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.cmt-user {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}
.cmt-content {
  margin-right: 40px;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.815);
}
