.home-page {
  width: 1150px;
  min-height: 100%;
  max-width: 100%;
  //   background-color: #ccc;
  display: flex;
  padding: 0 24px;
  margin-top: 60px;
  height: 2000px;
}
.home-bot-bar {
  width: 341px;
  padding: 20px 0 26px;
  background-color: red;
}
.home-content {
  width: 700px;
  background-color: #ccc;
  margin-right: 16px;
  margin-left: 16px;
  padding: 24px 0;
  margin-left: 43px;
  position: absolute;
  left: 38%;
  top: 72px;
}
