.comment-container {
  display: flex;
  margin: 0;
  width: 720px;
  // height: 500px;
  // margin-left: 50px;
  // background-color: rgba(168, 211, 211, 0.534);
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  // box-shadow: rgba(99, 99, 99, 0.2) 1px 0px 8px 0px;
  position: relative;
  z-index: 9;
}
.cmt-user-avatar {
  //   margin-top: 20px;
  margin-left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: fill;
}
.cmt-user-info {
  margin-left: 10px;
  margin-right: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(207, 205, 205, 0.226);
  border-radius: 10px;
  //   margin-top: 20px;
  margin-bottom: 10px;
  z-index: 1;
}
.cmt-user {
  // display: block;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}
.cmt-content {
  margin-right: 40px;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.815);
}
.info-wrap {
  flex: 1;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.option-container {
  position: relative;
  z-index: 1;
}
.option-btn {
  display: block;
  position: relative;
  padding: 5px 10px;
  margin-right: 10px;
  font-weight: 100;
  background-color: transparent;
  z-index: 1;
}
.more-box {
  position: absolute;
  display: flex;
  right: 10px;
  flex-direction: column;
  z-index: 1;
}
.more-btn {
  background-color: rgb(255, 255, 255);
  padding: 0px 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 1px 0px 8px 0px;
  &:hover {
    cursor: pointer;
  }
}
.more-btn + .more-btn {
  margin-top: 5px;
}
